* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
svg {
    padding-right: 50px;
}
.active,
.archived {
  width: 20%;
}
tr th {
    color: var(--text-color);
    background-color: var(--title-table-color);
    
}
.backColor {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-left: 1em;
    padding: 10px 0 0px 10px;
    fill: white;
  }
table {
    border-spacing: 0 0.5em;
    width: 70%;
}
tr td:first-child,
tr th:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
tr td:last-child,
tr th:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
td,
th {
  padding: 0.4em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 2em;
}
:root {
    --text-color: #ffffff;
    --title-table-color: #7e7d7d;
    --background-table-color: #dcdce7;
    --img-color: #000000;
}