* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
svg {
  padding-right: 30px;
}
.active,
.archived {
  width: 20%;
}
.backColor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 1em;
  padding: 5px 0 0px 10px;
  fill: black;
}
